HOG Face Detection/Input/HW4.pdf
Creating Panorama from Video Background Extraction & Stabilization/Input/HW2.pdf
Epipolar Geometry /Input/HW3.pdf
Harris Corner Detection and Matching/Input/HW1.pdf
Perspective Transform/Input/HW1.pdf
Scene Matching using Homography & RANSAC/Input/HW1.pdf
Scene Recognition Using Bag of Words/Input/HW3.pdf
Scene Recognition Using Neural Networks /Input/HW5.pdf
Vanishing Points and Lines /Input/HW3.pdf
Creating Panorama from Video Background Extraction & Stabilization/Input/video.mp4
Creating Panorama from Video Background Extraction & Stabilization/Output/res07-background-video.mp4